* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #111;
  background-size: cover;
  /* cobre toda a tela */
  background-repeat: no-repeat;
  /* não repete */
  background-position: center;
  /* centraliza a imagem */
  overflow: scroll;

}


/* HEADER */
header {
  background-color: rgba(249, 249, 249, 0.251);
  backdrop-filter: blur(5px);
  box-shadow: #111;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.container {
  background-image: url(../assets/imgs/papel\ dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.sobre-nos {
  height: 100vh;
}

.logo {
  background: transparent;

}

header ul {
  list-style: none;
  display: flex;
  gap: 105px;
  margin-top: 1px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;

}

header ul img {
  margin-top: -5px;
  margin-right: -100px;

}



/* BOAS-VINDAS */
.boas-vindas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  background-color: rgba(13, 0, 0, 0.366);
  backdrop-filter: blur(05px);
  border-radius: 40px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 600px;
  max-width: 90%;
  text-align: center;
  height: 330px;
  font-size: 37px;
  font-weight: bold;
}

.boas-vindas h3 {
  color: #00d9ffd3;
  align-items: center;
  font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
}



.boas-vindas .texto {
  text-align: center;
}

.boas-vindas .texto p {
  color: #bdfaff;
}

.boas-vindas h1 {
  color: #bab9b9;
  font-family: initial;



}

.boas-vindas h1 img {
  width: 370px;
  position: relative;
  height: 370px;
  left: 10px;
}


.boas-vindas h2 {

  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  font-style: italic;
  color: rgba(0, 98, 255, 0.994);
  height: 100px;
}

.boas-vindas p {
  margin-top: 10px;
  font-weight: bold;
}

.menuVertical {
  height: 1000px;
}

/* SOBRE NÓS */
.sobre-nos-titulo {
  color: #004fce;
  text-align: center;
  font-size: 35px;
  padding: 5px 5px;
  transform: translate(-20px, -20px);
  background-color: #020045;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  margin-left: 710px;
  margin-top: 50px;
  margin-right: 500px;
  position: relative;
  right: 300px;
}

.sobre-nos-img {
  margin-left: 1123px;
  position: relative;
  top: -742px;
  width: 453px;
  height: 746px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  border-radius: 2px;
}

.descricao {
  margin-left: 180px;
  font-size: 22px;
  margin-top: 50px;
  width: 120vh;
  transform: translate(-50px, -50px);
  padding: 40px;
  box-shadow: 0 0 0px rgb(0, 0, 0);

}

.estadio{
  background-image: url(../assets/imgs/imagem\ campo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#tituloQuiz{
  font-size: 90px;
  position: relative;
  left: 200px;
}
h1{
  font-size: 100px;
  position: relative;
  left: 40%;
  top: 10px;
}
 #quiz {
      background-color: #004cff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 5px rgb(0, 0, 0);
      height: 360px;
      width: 600px;
      text-align: center;
      position: relative;
      top: 100px;
      left: 320px;
    }

    .pergunta {
      font-size: 1.2em;
      margin-bottom: 20px;
      color: #020025;
      position: relative;
      
    }

    .opcao {
      display: block;
      margin: 10px auto;
      padding: 10px;
      width: 450px;
      font-size: 1em;
      background-color: #003b89;
      color: #00f7ff;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background 0.2s;
      position: relative;
      top: 100px;
    }

    .opcao:hover {
      background-color: #0b0084;
      transition: 1.3s;
      
    }

    #resultado {
      margin-top: 20px;
      font-weight: bold;
      color: #ff0000;
    }