* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: scroll;
  background-image: url(../assets/imgs/fundodoquiz.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/* HEADER */
header {
 color: #30d2ff;
  
  box-shadow: #111;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  width: 1520px;
}

.container {
  background-image: url(../assets/imgs/papel\ dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}

.sobre-nos {
  height: 100vh;
}

.logo {
  background: transparent;

}

header ul {
  list-style: none;
  display: flex;
  gap: 105px;
  margin-top: 1px;
}

header a {
  color: #0095ff;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;

}

header ul img {
  margin-top: -5px;
  margin-right: -100px;
}



/* BOAS-VINDAS */
.boas-vindas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  background-color: rgba(13, 0, 0, 0.366);
  backdrop-filter: blur(05px);
  border-radius: 40px;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transition: 1s;
  width: 600px;
  max-width: 90%;
  text-align: center;
  height: 330px;
  font-size: 37px;
  font-weight: bold;
  transition: all;
}

.boas-vindas h3 {
  color: #00d9ffd3;
  align-items: center;
  font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
}



.boas-vindas .texto {
  text-align: center;
  position: relative;
  right: 230px;
}

.boas-vindas .texto p {
  color: #bdfaff;
  position: relative;
  left: 230px;
}

.boas-vindas h1 {
  color: #bab9b9;
  font-family: initial;
}

.boas-vindas h1 img {
  width: 370px;
  position: relative;
  height: 370px;
  left: 10px;
}


.boas-vindas h2 {

  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  font-style: italic;
  color: rgba(0, 98, 255, 0.994);
  height: 100px;
}

.boas-vindas p {
  margin-top: 10px;
  font-weight: bold;
}

.menuVertical {
  height: 1000px;
}

/* SOBRE NÓS */
.sobre-nos-titulo {
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  padding: 5px 5px;
  transform: translate(-20px, -20px);
  background-color: #020045;
  backdrop-filter: blur(15px);
  border-radius: 30px;
  margin-left: 710px;
  margin-top: 50px;
  margin-right: 400px;
  position: relative;
  right: 350px;
  width: ;

}

.sobre-nos-img {
  margin-left: 1068px;
  position: relative;
  top: -742px;
  width: 453px;
  height: 700px;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  border-radius: 2px;
}

.descricao {
  margin-left: 180px;
  font-size: 22px;
  margin-top: 50px;
  width: 120vh;
  transform: translate(-50px, -50px);
  padding: 40px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.linha-horizontal {
  height: 2px;
  background-color: white;
  width: 100%;
  margin: 40px 0;
  opacity: 0.3;
}

.estadio {
  background-image: url(../assets/imgs/fundodoquiz.png)linear-gradient(to top -100px);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#tituloQuiz {
  font-size: 90px;
  position: relative;
  left: 200px;
  color: white;
}

h1 {
  font-size: 100px;
  position: relative;
  left: 40%;
  top: 10px;
  color: #0f00b9;
  border-radius: 90px;
}
.Quiz{
  color: rgb(0, 0, 0);
  font-size: 150px;
  background-color: #30d2ff;
  text-align: center;
  position: relative;
  top: 90px;
  height: 150px;
   box-shadow: 0 0 20px white;
}
.Quiz h2{
  color: #020045;
  position: relative;
  right: 20px;
  font-size: 140px;
  text-align: center;
}

.botao-quiz{
  width: 150px;
  height: 60px;
  border-radius: 40px;
  font-size: 18px;
  background-color: #30d2ff;
  box-shadow: 0 0 10px white;
  color: #00033d;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 20px;
}

.Quiz p{
  font-size: 20px;
  color: white;
  position: relative;
  top: 40px;
}




